{:lint-as
 {millstrand.api.lifecycle.alpha/defresource clojure.core/def
  millstrand.api.millstrand.alpha/defop clojure.core/defn
  millstrand.api.millstrand.alpha/defpattern clojure.core/defn
  millstrand.api.millstrand.alpha/defquery clojure.core/def
  millstrand.spools.workflow/defexecutor clojure.core/defn}
 :linters
 {:unresolved-var
  {:exclude [millstrand.api.runtime.alpha/collect-kind!
             millstrand.spools.workflow/defexecutor]}}}
