{:spools {skein.spools/batteries {:skein/source-root "spools/batteries"}
          codethread/kanban {:git/url "https://github.com/codethread/kanban.spool.git"
                             :git/sha "14390f448cac93fb045d36bcecaf49f11f0a4de2"
                             :git/tag "v10"
                             :roots {codethread/kanban "."}}}}
